/* ===== Base ===== */
body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background: #faf7ff;
    color: #2f2f3a;
}

/* ===== Sidebar ===== */
.sidebar {
    width: 240px;
    min-height: 100vh;
    background: linear-gradient(180deg, #ede9fe, #fce7f3);
    padding: 24px;
    box-shadow: 5px 0 20px rgba(0,0,0,0.05);
}

.sidebar h2 {
    text-align: center;
    color: #3a5eed;
    margin-bottom: 25px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin: 8px 0;
    border-radius: 12px;
    text-decoration: none;
    color: #4b5563;
    background: rgba(255,255,255,0.4);
    transition: 0.2s ease;
}

.sidebar a:hover {
    background: rgba(167, 139, 250, 0.25);
    transform: translateX(5px);
    color: #111827;
}

/* ===== Main ===== */
.main {
    padding: 30px;
    background: #faf7ff;
}

.main h1 {
    color: #284bd9;
    margin-bottom: 15px;
}

/* ===== Button ===== */
button {
    padding: 9px 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: linear-gradient(135deg, #a5b0ef, #a8f9f0);
    color: #1f2937;
    font-weight: 500;
    transition: 0.2s ease;
    box-shadow: 0 6px 12px rgba(167,139,250,0.2);
}

button:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, #dcdbd0, #f472b6);
}

/* ===== Table ===== */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 14px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.05);
}

thead {
    background: #f3e8ff;
    color: #285ad9;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #f3f4f6;
}

tbody tr:hover {
    background: #faf5ff;
}

/* ===== Image ===== */
img {
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

/* ===== Small text ===== */
span {
    color: #9ca3af;
    font-size: 13px;
}
.layout {
    display: flex;
    min-height: 100vh;
}

/* مهم‌ترین خط */
.sidebar {
    width: 240px;
    flex-shrink: 0;
}

/* مهم‌ترین خط دوم */
.main {
    flex: 1;
    min-width: 0;
    overflow-x: auto;
}
.sidebar-contact {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,0.4);
    font-size: 12px;
    color: #374151;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-contact p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    background: rgba(255,255,255,0.35);
    padding: 8px 10px;
    border-radius: 10px;
}

.sidebar-contact i {
    color: #7c3aed;
}