<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consultas</title>
</head>
<body>

<h1>Consultas</h1>

<a th:href="@{/consultas/nuevo}">
    <button>Agregar</button>
</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Motivo</th>
        <th>Diagnóstico</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${consultas}">
        <td th:text="${c['id']}"></td>
        <td th:text="${#temporals.format(c['fecha'], 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${c['motivo']}"></td>
        <td th:text="${c['diagnostico']}"></td>
        <td>
            <a th:href="@{'/consultas/editar/' + ${c['id']}}"><button>Editar</button></a>
            <a th:href="@{'/consultas/eliminar/' + ${c['id']}}"><button>Eliminar</button></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>