<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VidaPet - Panel de Administración</title>
</head>
<body>

<h1>Bienvenido a VidaPet - Panel de Administración</h1>
<p>Seleccione una opción para gestionar:</p>

<ul>
    <li><a class="button" th:href="@{/propietarios}">Propietarios</a></li>
    <li><a class="button" th:href="@{/mascotas}">Mascotas</a></li>
    <li><a class="button" th:href="@{/consultas}">Consultas</a></li>
    <li><a class="button" th:href="@{/tratamientos}">Tratamientos</a></li>
    <li><a class="button" th:href="@{/detalles}">Detalles de Tratamiento</a></li>
</ul>

</body>
</html>