<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/mascota.css">
    <title>Mascotas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="layout">
    <div class="sidebar">
        <a class="navbar-brand d-flex align-items-center" href="/">
         <h1>| VidaPET</h1>
        </a>

        <a href="/">
            <i class="fas fa-home"></i> Home
        </a>

        <a href="/propietarios">
            <i class="fas fa-user"></i> Propietarios
        </a>
        <a href="/mascotas">
            <i class="fas fa-dog"></i> Mascotas
        </a>
        <a href="/veterinarios"><i class="fas fa-user-md"></i> Veterinarios</a>
        <a href="/especies">
            <i class="fas fa-paw"></i> Especies
        </a>


        <a href="/citas">
            <i class="fas fa-calendar"></i> Citas
        </a>

        <a href="/consultas">
            <i class="fas fa-stethoscope"></i> Consultas
        </a>

        <img src="/images/www.png"
             class="logo"
             alt="VidaPet">
    </div>

    <div class="main">
        <h1>Mascotas</h1>
        <a th:href="@{/mascotas/nuevo}"><button>+ Agregar</button></a>

        <table>
            <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Especie</th> <th>Raza</th>
                <th>Fecha Nacimiento</th>
                <th>Propietario</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="m : ${mascotas}">
                <td>
                    <img th:if="${m['foto'] != null and m['foto'] != ''}"
                         th:src="@{'/' + ${m['foto']}}" width="80" height="80" style="border-radius: 8px; object-fit: cover;">
                    <span th:unless="${m['foto'] != null and m['foto'] != ''}">Sin foto</span>
                </td>
                <td th:text="${m['nombre']}"></td>
                <td th:text="${m['especie_nombre']}"></td>
                <td th:text="${m['raza']}"></td>
                <td th:text="${m['fecha_nacimiento']}"></td>
                <td th:text="${m['propietario_nombre']} + ' ' + ${m['propietario_apellido']}"></td>
                <td class="actions">
                    <a th:href="@{'/mascotas/editar/' + ${m['id']}}" class="icon-btn edit"><i class="fas fa-pen"></i></a>
                    <a th:href="@{'/mascotas/eliminar/' + ${m['id']}}" class="icon-btn delete"
                       onclick="return confirm('¿Eliminar mascota?');"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>